@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	// animation: fadein .1s ease-in;
	background: linear-gradient(90deg, #000000 0%, #535151 100%);
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}